.venv/
__pycache__/
*.pyc
.env
.idea/
.vscode/

# Media assets
src/data/marketing_outputs/
src/data/media_assets/
client_secrets.json

# Session secrets & Cookies
data/
*.json
*.txt
!requirements.txt
!.env.example
