ccxt
flask[async]
asgiref
google-genai
python-dotenv
pydantic
pydantic-settings
schedule
requests
feedparser
websockets
pyTelegramBotAPI
edge-tts
moviepy
Pillow
aiohttp
instagrapi
pycryptodomex
openai
anthropic
DrissionPage
tiktok-uploader
playwright
yt_dlp
google-api-python-client
google-auth-httplib2
google-auth-oauthlib